// Colour
$header-col: #005246;
$white: #fff;
$employee-dir-bk: #f5f5f5;
$avatar-brdr: grey;
$input-brdr: grey;
$modal-bck: #f2f2f2;
$overlay-bck: rgba(146, 142, 142, 0.6);
$body-bck: #f5f5f7;

// Overlay offsets
$offset-position-val: 0;

// Cursor
$cursor: pointer;

// Media Queries
$break-s: '(min-width: 43em)'; // 688px
$break-m: '(min-width: 62em)'; // 992px
$break-l: '(min-width: 82em)'; // 1312px
