/* ****************************** EMPLOYEE INFO ***************************** */
.employee-info {
  @include flexy($dsp: null, $a-self: center);
  margin-left: 20px;
  > h2 {
    letter-spacing: 0.062em;
  }
  &-modal {
    margin-left: initial;

    h2 {
      padding-top: 10px;
    }
    > p:nth-of-type(n + 1) {
      padding: 6px 0;
    }
  }
}

.modal-line {
  width: 80%;
}
