/* **************************** EMPLOYEE SECTION **************************** */
.employee-dir {
  @include flexy($j-content: center);
  margin-bottom: 20px;
  border-radius: 10px;
  background: lightgrey;
  padding: 0.8em;
  overflow: hidden;
  @media #{$break-s} {
    @include flexy($j-content: initial);
    overflow: initial;
  }
}
