/* ********************************** ERROR ********************************* */
.error-msg {
  @include flexy($a-items: center, $j-content: center);
  padding: 1em;
  grid-column: 1 /4;
  p {
    margin-left: 10px;
    font-weight: bold;
  }
}
