/* ********************************* HEADER ********************************* */
header {
  position: relative;
  background: $header-col;
  padding: 1em;
  margin-bottom: 30px;
  @media #{$break-m} {
    border-bottom-left-radius: 1em 1em;
    border-bottom-right-radius: 1em 1em;
  }
}

.flex-container {
  @include flexy($f-dir: column);
  h2 {
    @include flexy($dsp: null, $a-self: center);
    color: $white;
    font-weight: 800;
    letter-spacing: 0.15em;
    margin-bottom: 10px;
  }
}
