/* ********************************* HEADER ********************************* */
header {
  background: yellow;
  border: 2px solid purple;
  padding: 1em;
}

.flex-container {
  @include flexy($f-dir: column);
  input {
    margin-top: 10px;
    padding: 9px;
    border-radius: 5px;
    border: 1px solid grey;
  }
  @media #{$break-s} {
    @include flexy($dsp: null, $f-dir: row, $j-content: space-between);
    h2 {
      align-self: center;
    }
    input {
      margin-top: initial;
      width: 40%;
    }
  }
}
