/* ********************************** ICON ********************************** */
.icon {
  &-arrow {
    @include flexy($j-content: space-around);
    margin: 22px 0;
  }
  &-alert {
    fill: red;
  }
  &-search {
    position: absolute;
    top: -40px;
    height: 40px;
    background: rgb(101, 99, 99);
    width: 45px;
    fill: $white;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
  }
}

.search-icon {
  position: relative;
  @include flexy($j-content: flex-end);
}

.js-hide-arrow-right,
.js-hide-arrow-left {
  display: none;
}
