/* ********************************** ICON ********************************** */
.icon {
  &-arrow {
    @include flexy($j-content: space-around);
    margin: 22px 0;
  }
  &-alert {
    fill: red;
  }
  &-search {
    position: absolute;
    right: 25px;
    top: 67px;
  }
}

.js-hide-arrow-right,
.js-hide-arrow-left {
  display: none;
}
