/* ********************************** INPUT ********************************* */
input[type="text"] {
  letter-spacing: 0.15em;
  margin-top: 10px;
  padding: 9px;
  border-radius: 5px;
  border: 1px solid $input-brdr;
  background: $white url("../icons/search.svg") no-repeat 98% 50%;
  background-size: 25px;
}
