/* ********************************** MODAL ********************************* */
.modal {
  @include flexy($f-dir: column);
  position: sticky;
  top: 0%;
  margin: 15% auto;
  width: 300px;
  border-radius: 30px;
  text-align: center;
  background: #f2f2f2;
}
