/* ********************************* OVERLAY ******************************** */
.overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(146, 142, 142, 0.6);
}

.hidden {
  //   display: none;
}
