/* ********************************* OVERLAY ******************************** */
.overlay {
  position: absolute;
  top: $offset-position-val;
  right: $offset-position-val;
  bottom: $offset-position-val;
  left: $offset-position-val;
  background: $overlay-bck;
  filter: grayscale(30%);
}

.hidden {
  display: none;
}
