/* ******************************* BASE STYLES ****************************** */

.wrapper {
  border: 1px solid red;
  margin: 0 auto;
  background: green;
  height: 100vh;
}

header {
  background: red;
}
