/* ******************************* BASE STYLES ****************************** */

.wrapper {
  border: 1px solid red;
  background: green;
  @media #{$break-l} {
    width: 90%;
    margin: 0 auto;
  }
}
