/* ******************************* BASE STYLES ****************************** */
* {
  box-sizing: border-box;
}

body {
  position: relative;
  font: 300 1em/1.5 'Heebo', sans-serif;
  font-weight: 300;
  background: $body-bck;
}

.wrapper {
  background: $wrapper-bck;
  @media #{$break-l} {
    width: 85%;
    max-width: 1160px;
    margin: 0 auto;
  }
}
